server {
    listen 80;
    server_name *.${CDN_SUBDOMAIN}.${DOMAIN} ${CDN_SUBDOMAIN}.${DOMAIN};

    location / {
        proxy_pass ${CDN_URL};
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
    }
}