server {
    listen *:${PORT};
    server_name www.${DOMAIN} ${DOMAIN};

    location / {
        root /usr/share/nginx/html;
        index index.html;
        try_files $uri $uri/ /index.html;
    }
}